<mat-card class="section-card cardWithShadow">
  <div class="section-card__header">
    <div class="section-card__title">
      @if (titulo) {
        <div class="title">{{ titulo }}</div>
      }
      @if (subtitulo) {
        <div class="subtitle">{{ subtitulo }}</div>
      }
    </div>
    <div class="section-card__actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>

  @if (showDivider) {
    <mat-divider class="m-b-12"></mat-divider>
  }

  <div class="section-card__body">
    <ng-content></ng-content>
  </div>
</mat-card>
