<mat-toolbar class="topbar gap-8">
  @if(showToggle) {
  <button mat-icon-button (click)="toggleCollapsed.emit()" class="d-flex justify-content-center">
    <i-tabler name="align-left" class="icon-20 d-flex"></i-tabler>
  </button>
  } @else {
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex justify-content-center">
    <i-tabler name="align-left" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <div class="d-flex flex-column">
    <strong class="f-s-16">ClickManager Admin</strong>
    <span class="text-muted f-s-12">Painel administrativo de suporte</span>
  </div>

  <span class="flex-1-auto"></span>

  <button mat-stroked-button color="primary" [matMenuTriggerFor]="profileMenu">
    <i-tabler name="user-circle" class="icon-18 m-r-8"></i-tabler>
    {{ usuarioNome }}
  </button>

  <mat-menu #profileMenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    <div class="p-x-24 p-y-16">
      <h6 class="f-s-16 f-w-600 m-0">Sessão admin</h6>
      <span class="d-block text-body m-t-8">{{ usuarioNome }}</span>
    </div>

    <div class="p-y-12 p-x-24">
      <button (click)="logout()" mat-flat-button color="primary" class="w-100">
        Sair
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
