<mat-toolbar class="topbar admin-topbar">
  @if(showToggle) {
  <button
    mat-icon-button
    (click)="toggleCollapsed.emit()"
    class="d-flex justify-content-center admin-topbar__toggle"
  >
    <i-tabler name="align-left" class="icon-20 d-flex"></i-tabler>
  </button>
  } @else {
  <button
    mat-icon-button
    (click)="toggleMobileNav.emit()"
    class="d-flex justify-content-center admin-topbar__toggle"
  >
    <i-tabler name="align-left" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <div class="admin-topbar__brand">
    <strong class="admin-topbar__title">ClickManager Admin</strong>
    <span class="admin-topbar__subtitle">Painel administrativo de suporte</span>
  </div>

  <div class="admin-topbar__actions">
    <button
      mat-icon-button
      matTooltip="Atualizar painel"
      aria-label="Atualizar painel"
      (click)="recarregarPagina()"
    >
      <i-tabler name="refresh" class="icon-20 d-flex"></i-tabler>
    </button>

    <button
      mat-icon-button
      [matMenuTriggerFor]="profileMenu"
      class="admin-topbar__menu-trigger"
      matTooltip="Mais opções"
      aria-label="Mais opções"
    >
      <i-tabler name="dots-vertical" class="icon-20 d-flex"></i-tabler>
    </button>
  </div>

  <mat-menu #profileMenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    <div class="p-x-24 p-y-16">
      <h6 class="f-s-16 f-w-600 m-0">Sessão admin</h6>
      <span class="d-block text-body m-t-8">{{ usuarioNome }}</span>
    </div>

    <div class="admin-topbar__menu-actions">
      <button mat-menu-item (click)="alternarTelaCheia()">
        <i-tabler
          [name]="emTelaCheia ? 'arrows-minimize' : 'arrows-maximize'"
          class="icon-18 d-flex"
        ></i-tabler>
        <span>{{ emTelaCheia ? 'Sair da tela cheia' : 'Abrir em tela cheia' }}</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <i-tabler name="logout" class="icon-18 d-flex"></i-tabler>
        <span>Sair</span>
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
