@use "../variables" as *;

html {
  .app-toast-success {
    background-color: $success;
  }

  .app-toast-error {
    background-color: $error;
  }

  .app-toast-warning {
    background-color: $warning;
  }

  .app-toast-info {
    background-color: $primary;
  }

  .app-toast-success,
  .app-toast-error,
  .app-toast-warning,
  .app-toast-info {
    box-shadow: var(--mat-sys-level2);
    border-radius: $border-radius;
  }
}
