@if (!onlyIcon) {
  <button
    mat-stroked-button
    [color]="color"
    [routerLink]="routerLink"
    [fragment]="fragment"
    [attr.aria-label]="ariaLabel"
    class="manual-btn"
    >
    <mat-icon>{{ icon }}</mat-icon>
    @if (label) {
      <span>{{ label }}</span>
    }
  </button>
} @else {
  <button
    mat-icon-button
    [color]="color"
    [routerLink]="routerLink"
    [fragment]="fragment"
    [matTooltip]="label || ariaLabel"
    [attr.aria-label]="ariaLabel"
    class="manual-btn"
    >
    <mat-icon>{{ icon }}</mat-icon>
  </button>
}
